<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Expression Canvas</title>
  <link rel="stylesheet" href="css/main.css" />
  <link
			rel="stylesheet"
			data-name="vs/editor/editor.main"
			href="vendor/monaco-editor/min/vs/editor/editor.main.css"
		/>
</head>
<body>

  {{! Only needs the Handlebars Runtime, because the exposed templates are precompiled. }}
  <script src="vendor/handlebars/handlebars.runtime.min.js"></script>
  <script>
    (function () {
      var revive    = Handlebars.template,
          templates = Handlebars.templates = Handlebars.templates || {};

      {{#templates}}
        templates['{{{name}}}'] = revive({{{template}}});
      {{/templates}}
    }());
  </script>

  <script src="vendor/socket-io/socket.io.min.js"></script>
  <script>
    function getServer() {
      let href = window.location.href.split('/')
      return href[0] + '//' + href[2]
    }

    const clientSocket = io(getServer())
  </script>

  {{{body}}}

</body>
</html>