<div id="editor-container"></div>
<div id="editor-resizer">||</div>
<canvas id="pgc-canvas"></canvas>

<script>
  var require = { paths: { vs: 'vendor/monaco-editor/min/vs' } };
</script>{{!-- --}}
<script src="vendor/monaco-editor/min/vs/loader.js"></script>
<script src="vendor/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
<script src="vendor/monaco-editor/min/vs/editor/editor.main.js"></script>

<script type="module">
  import { Canvas } from "./js/canvas.js"

  let editorWidth = 600

  const editorContainer = document.getElementById('editor-container')
  const editorResizer = document.getElementById('editor-resizer')
  editorResizer.onmousedown = resizeEditor

  const pgcCanvas = document.getElementById('pgc-canvas')
  const canvas = new Canvas({
    canvas: pgcCanvas
  })

  const monacoEditor = monaco.editor.create(document.getElementById('editor-container'), {
    value: ['function x() {', '\tconsole.log("Hello world!");', '}'].join('\n'),
    language: 'javascript'
  });
  monacoEditor.onDidChangeModelContent((e) => {
    // editor.getValue()
    // e has the specific change
  })

  const HEIGHT_ROUNDING_ERROR = 1
  updateEditorHeight(window.innerHeight - HEIGHT_ROUNDING_ERROR)
  updateEditorWidth(editorWidth)
  window.onresize = (e) => {
    updateEditorHeight(window.innerHeight - HEIGHT_ROUNDING_ERROR)
    updateEditorWidth(editorWidth)
  }

  let resizerOffsetX = 0
  function resizeEditor(e) {
    e = e || window.event
    e.preventDefault()

    resizerOffsetX = e.clientX - editorWidth
    document.onmousemove = resizerUpdateWidth
    document.onmouseup = () => {
      document.onmousemove = null
      document.onmouseup = null
    }
  }

  function resizerUpdateWidth(e) {
    e = e || window.event
    if (e) e.preventDefault()

    editorWidth = e.clientX - resizerOffsetX
    updateEditorWidth(editorWidth)
  }

  function updateEditorHeight(height) {
    editorContainer.style.height = `${height}px`
    editorResizer.style.height = `${height}px`
    monacoEditor.layout()

    pgcCanvas.style.height = `${height}px`
    pgcCanvas.height = height
    canvas.refresh()
  }

  function updateEditorWidth(width) {
    editorContainer.style.width = `${width}px`
    editorResizer.style.left = `${width}px`
    monacoEditor.layout() // Refreshes the editor to account for the new width

    const resizerWidth = 12
    pgcCanvas.style.left = `${width + resizerWidth}px`
    pgcCanvas.style.width = `${window.innerWidth - width - resizerWidth}px`
    pgcCanvas.width = window.innerWidth - width - resizerWidth
    canvas.refresh()
  }

{{!-- Editor code management --}}
class Editor {

  constructor(editor) {
    this.current = 'main'
    this.fileRepo = new FileRepository()
    this.editor = editor
  }

  getValue() {
    return this.editor.getValue()
  }

  load(filename) {
    let file = this.fileRepo.readOrCreate(filename)
    this.editor.setValue(file)
    this.current = filename
  }

  save() {
    this.fileRepo.write(this.current, this.editor.getValue())
  }

  hasOpen(filename) {
    return filename === this.current
  }
}


class FileRepository {
  constructor() {
    this.files = {}
  }

  write(filename, code) {
    this.files[filename] = code
  }

  readOrCreate(filename) {
    if (!this.files[filename]) {
      this.write(filename, '')
    }

    return this.files[filename]
  }
}

const editor = new Editor(monacoEditor)
editor.save('main')


{{!-- Keyboard scripts --}}

let currentFile = editor.current

class UI {

  constructor(editor) {
    this._editor = editor
    this._onSave = []

    this._control = false

    document.onkeydown = (e) => {
      if (e.key === 'Control') {
        this._control = true
        return
      }

      if (this._control && e.key === 's') {
        e.preventDefault()
        this._onSave.forEach((cb) => cb())
        return
      }

      if (!this._control && e.key === 'Escape') {
        if (!this._editor.hasOpen('main')) {
          this._editor.load('main')
          return
        }
      }
    }

    document.onkeyup = (e) => {
      if (e.key === 'Control') {
        this._control = false
      }
    }

    document.onmousedown = (e) => {
      if (!this._control) {
        return
      }

      let el = document.elementFromPoint(e.clientX,e.clientY)
      if (el.id.substring(0,6) === 'editor' || el.id.trim() === '') {
        return
      }

      if (el.id === 'pgc-canvas') {
        this._editor.load('pgc-canvas')
        return
      }

    }
  }

  onSave(cb) {
    this._onSave.push(cb)
  }
}

const ui = new UI(editor)
ui.onSave(() => {
  console.log('Save the code! (In the active editor)')
  editor.save()
})

ui.onSave(() => {
  clientSocket.emit('file.save', editor.current, editor.getValue())
})
</script>