html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

#editor-container {
  overflow:hidden;
}

#editor-resizer {
  position: absolute;
  top: 0px;
  width: 12px;
  background-color: lightgrey;

  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

#editor-resizer:hover {
  background-color: #c6c6c6;
  cursor: w-resize;
}

#pgc-canvas {
  position: absolute;
  top: 0px;
}